#wizard {
  font-family: "Ubuntu", sans-serif;
  color: #0e0e0e;
  width: 100%;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
  background-color: #ffffff;
}

.step-buttons {
  position: relative;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 0 1px 1px 0;
  background: #ffffff;
}

.step-button {
  display: inline-block;
  padding: 16px 14px;
  background: #ffffff;
  border: none;
  position: relative;
  outline: none;
}

.step-button.active {
  color: #ffffff;
  background: #3a4e06;
}

.step-button.complete {
  color: #ffffff;
  background: #034a74;
}

.step-button:nth-child(n + 2) {
  padding-left: 24px;
}

.step-button::after {
  display: block;
  position: absolute;
  z-index: 2;
  content: "";
  top: 50%;
  right: 0;
  border: medium none;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

.step-button.active::after {
  background-color: #3a4e06;
}

.step-button.complete::after {
  background-color: #034a74;
}

.step-button:last-child::after {
  display: none;
}

.step-button:hover {
  cursor: pointer;
}

.step-view {
  position: relative;
  padding: 25px 15px;
  height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
}

.success-message {
  position: relative;
  padding: 25px 15px;
  height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
}

.success-message .c-message {
  color: #3a4e06;
}

.c-message {
  padding: 15px 0;
  text-align: center;
}

.c-form-group {
  width: 100%;
  padding: 15px 0;
}

.c-form-label {
  text-align: center;
  padding-bottom: 10px;
  display: block;
}

.c-form-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
}

.c-form-input:focus {
  border-color: #034a74;
}

.button-steps {
  display: block;
  text-align: right;
  height: 100%;
  padding: 10px 15px;
  background-color: #ffffff;
}

.button-steps .button:first-child {
  margin-right: 10px;
}

.button {
  border-style: solid;
  padding: 10px 15px;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
  color: #ffffff;
}

.button-add {
  width: 100%;
  background-color: #3a4e06;
  border-color: #3a4e06;
}

.button-remove {
  width: 100%;
  background-color: #4f060f;
  border-color: #4f060f;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  opacity: 0.65;
  cursor: not-allowed;
}

.c-product {
  display: block;
  padding: 20px;
  border: 1px solid #0e0e0e;
  margin-bottom: 20px;
}

.c-product.selected {
  background-color: #f1f1f1;
}

.c-product:last-child {
  margin-bottom: 0;
}

.c-product-title {
  font-size: 24px;
  font-weight: 500;
}

.c-product-description {
  padding: 20px 0;
}

.c-product-price {
  padding: 10px 0;
}

.c-product-price-label {
  display: inline;
  font-weight: bold;
}

.c-product .c-form-group {
}

.c-product .c-form-label {
  text-align: left;
}

.c-product .c-form-input {
}

.c-total {
  padding: 0 15px 15px;
  float: left;
  margin-top: -40px;
}

.c-total-label {
  font-weight: bold;
  display: inline;
}

.c-form-group.contact-input .c-form-label {
  text-align: left;
}
